body{
  background-color: #ADD8E6;
}

h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 75px;
  margin: auto;

}

.buttons{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #FFF;
  text-decoration: none;
  margin-left: 10px;
  outline: none;
}



#pixelPainter{
  /*background-color: yellow;*/
  width: 1000px;
  height: 1000px;
  vertical-align: top;
  margin: auto;
}

#savedBox{
  height: 250px;
  width: 250px;
}

#eraseButton{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

#clearButton{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

#saveButton{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

#toolBox{
  /*background-color: blue;*/
  width: 20%;
  height: 90%;
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}

#pp-canvas{
  /*background-color: red;*/
  width: 75%;
  height: 75%;
  display: inline-block;
  vertical-align: top;
}

#colorPalette{
  /*background-color: grey;*/
  width: 80%;
  height: 40%;
  margin-left:10px;
  margin-top: 10px;
  vertical-align: top;
}

#options{
  /*background-color: green;*/
  width: 80%;
  height: 40%;
  margin-left:10px;
  margin-top: 10px;
}

.colorChoice{
  height: 30px;
  width: 30px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.cell{
  height: 40px;
  width: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  display: inline-block;
  vertical-align: top;
}

.cell:hover {
  cursor: pointer;
}

.colorChoice:hover {
  cursor: pointer;
}

#currentColor{
  vertical-align: top;
  height: 100px;
  width: 100px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  margin-top: 30px;
  margin-left: 29px;
}

.savedCell{
  height: 12px;
  width: 12px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  border-style: solid;
  border-width: .1px;
}