#pixelPainter{
  background-color: yellow;
  width: 1000px;
  height: 1000px;
  vertical-align: top;
  margin: auto;
}

#toolBox{
  background-color: blue;
  width: 25%;
  height: 90%;
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}

#pp-canvas{
  background-color: red;
  width: 75%;
  height: 75%;
  display: inline-block;
  vertical-align: top;
}

#colorPalette{
  background-color: grey;
  width: 80%;
  height: 40%;
  margin-left:10px;
  margin-top: 10px;
  vertical-align: top;
}

#options{
  background-color: green;
  width: 80%;
  height: 40%;
  margin-left:10px;
  margin-top: 10px;
}

.colorChoice{
  height: 15px;
  width: 15px;
  background-color: white;
  border-style: solid;
  display: inline-block;
}

.cell{
  height: 40px;
  width: 40px;
  background-color: white;
  border-style: solid;
  display: inline-block;
  vertical-align: top;
}

.cell:hover {
  cursor: pointer;
}

.colorChoice:hover {
  cursor: pointer;
}

#currentColor{
  vertical-align: top;
  height: 20px;
  widows: 20px;
  background-color: white;
}